
.layui-side-menu, .layadmin-pagetabs .layui-tab-title li:after, .layadmin-pagetabs .layui-tab-title li.layui-this:after, .layui-layer-admin .layui-layer-title, .layadmin-side-shrink .layui-side-menu .layui-nav > .layui-nav-item > .layui-nav-child {
    background-color: #344058 !important;
}

.layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a {
    background-color: #1E9FFF !important;
}

.layui-layout-admin .layui-logo {
    background-color: #0085E8 !important;
}

.layui-layout-admin .layui-header {
    background-color: #1E9FFF;
}

.layui-layout-admin .layui-header a, .layui-layout-admin .layui-header a cite {
    color: #f8f8f8;
}

.layui-layout-admin .layui-header a:hover {
    color: #fff;
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-more {
    border-top-color: #fbfbfb;
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-mored {
    border-color: transparent;
    border-bottom-color: #fbfbfb;
}

.layui-layout-admin .layui-header .layui-nav .layui-this:after, .layui-layout-admin .layui-header .layui-nav-bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, .5);
}

.layadmin-pagetabs .layui-tab-title li:after {
    display: none;
}

.layui-side-menu .layui-nav .layui-nav-item a {
    padding-left: 15px !important;
}

.layui-side-menu .layui-nav .layui-nav-item a:not(.link):hover, .menu-item-hover {
    background-color: #20293a;
}

.layui-side-scroll .layui-nav-item:not(:last-child) {
    border-bottom: 1px solid #424d65;
}

.layadmin-side-shrink .user-info, .layadmin-side-shrink .copyright {
    display: none !important;
}

.layui-nav-item .layui-this > a, .layui-nav-item .layui-this {
    background-color: transparent !important;
}

.layui-nav .layui-nav-item a {
    color: #fff;
}

.email-view blockquote {
    border-left: 2px solid #ccc !important;
    padding-left: 15px !important;
}

.dashboard-item {
    min-width: 250px;
    margin-bottom: 15px;
}

.dashboard-placeholder {
    min-width: 250px;
    max-height: 600px;
    background-color: rgba(239, 237, 173, 0.45);
    border: 1px dashed #666;
}

.email-view img {
    max-height: 200px !important;
    max-width: 200px !important;
}

.layui-badge-rim, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea {
    border-color: #8f8f8f !important;
}

html {
    background-color: #f2f2f2;
    color: #444 !important;
}

.layui-table{
    color:#444;
}

.layui-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.office-doc-body{
    font-family: FangSong,STSong,STFangsong,sans-serif, Arial, Verdana, "Trebuchet MS";
    font-size: 16px !important;
}
.office-doc-header{
    font-family: FangSong,STSong,STFangsong,sans-serif, Arial, Verdana, "Trebuchet MS";
}
.jstree-default .jstree-disabled{
    color: #858282 !important;
}
.important_urgent{
    color: #e90300;
}
.important_unurgent{
    color: #ff7100;
}
.unimportant_urgent{
    color: #ff693b;
}
.unimportant_unurgent{
    color:#666666;
}
.line-through{
    text-decoration: line-through !important;
}